    <style>
        .profile-pic
        {
            right:0;
            width: 50px;
            height: 50px;
            overflow:hidden;
        }
        .img-thumbnail
        {
            height:50px!important;
        }
    </style>

<nav class="navbar navbar-expand-sm bg-light justify-content-center">
    <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/home">Home</a>
    </li>
        <li class="nav-item">
      <a class="nav-link" href="/ExGuide">Exercise Guide</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/schedule">Schedule</a>
    </li>
      <li class="nav-item">
      <a class="nav-link" href="/fitness">Fitness Tracker</a>
    </li>
      <li class="nav-item">
      <a class="nav-link" href="/HealthTracker">Health Tracker</a>
    </li>
    </ul>
      <ul class="navbar-nav ml-auto">
          {% if current_user.is_authenticated %}
          <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
          {% else %}
          <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
          <li class="nav-item"><a class="nav-link" href="/login">Log in</a></li>
          {% endif %}
          <div class="row">
              <div class="col-lg-3">
                  <div class="profile-pic">
                      <a class="highlight-pic" href="/profile">
                          <img class="rounded-circle img-thumbnail" src="{{ image_file }}" alt="Profile Picture" onerror="this.onerror=null;this.src='../static/profile_pics/default.png';">
                      </a>
                  </div>
              </div>
          </div>
      </ul>
  </nav>
