    <style>
        .profile-pic
        {
            right:0;
            width: 50px;
            height: 50px;
            overflow:hidden;
        }
        .img-thumbnail
        {
            height:50px!important;
        }

        .nav-link{
            font-size: 17px;
        }

        ul.navbar-nav a:hover {
            color: greenyellow !important;
        }

        #drop{
            background-color: #343a40;
            border-color: #343a40;
            color: rgba(255,255,255,.5);
            font-size: 17px;
        }

        #drop:hover{
            color: greenyellow;
        }
    </style>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center">
    <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/home">Home</a>
    </li>
        <li class="nav-item">
      <a class="nav-link" href="/ExGuide">Exercise Guide</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/schedule">Schedule</a>
    </li>
    <li class="dropdown">
        <button type='button' id="drop" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Fitness
        <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-menu">
            <a class='dropdown-item' href="/food">Food</a>
            <a class="dropdown-item" href="/exercise">Exercise</a>
        </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/HealthTracker">Health Tracker</a>
    </li>
    </ul>
      <ul class="navbar-nav ml-auto">
          {% if current_user.is_authenticated %}
          <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
          {% else %}
          <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
          <li class="nav-item"><a class="nav-link" href="/login">Log in</a></li>
          {% endif %}
          {% if current_user.is_authenticated %}
          <div class="row">
              <div class="col-lg-3">
                  <div class="profile-pic">
                      <a class="highlight-pic" href="/profile">
                          <img class="rounded-circle img-thumbnail" src="{{ image_file }}" alt="Profile Picture" onerror="this.onerror=null;this.src='../static/profile_pics/default.png';">
                      </a>
                  </div>
              </div>
          </div>
          {% endif %}




      </ul>
  </nav>

