<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Guide Style CSS -->
    <link rel="stylesheet" href="../static/ExStyle.css">
    <!--Logo of website-->
    <link rel="icon" href="../static/Logo.png">
    <title>HealthGuide</title>
</head>
<body>
{% extends 'layout.html' %}
{% block body %}
<div id="page" class="container">
    <div class='container'>
        <div id="header">
            <h2 class="font-weight-bold text-center headers">Welcome to the Exercise Guide!</h2>
        </div>
        <div id="guide_body">
            <!--Div below contains one exercise-->
            <div class="jumbotron" id="no1">
                <div class="container">
                    <div class="row">
                        <!--Image of exercise-->
                        <div class="col-md-6">
                            <img src="{{ exercise.get_image() }}" class="images">
                        </div>
                        <div class="col-md-6">
                            <!--Description of exercise-->
                            <p class="text-justify desc">{{ exercise.get_desc() }}</p>
                            <dl>
                                <!--Muscles worked from exercise-->
                                <dt class='ben_list'>Muscles Trained:</dt>
                                {% for benefits in exercise.get_benefits() %}
                                <dd>{{ benefits }}</dd>
                                {% endfor %}
                            </dl>
                            <p>
                                <a href="#randex" class="btn btn-info" data-toggle="collapse">Instructions</a>
                                <a href="#vids" class="btn btn-info" data-toggle="collapse">Tutorial Videos</a>
                            </p>
                            <div id="randex" class="collapse">
                                <!--Steps for the exercise-->
                                <ol type="1">
                                    {% for steps in exercise.get_steps() %}
                                    <li>{{ steps }}</li>
                                    {% endfor %}
                                </ol>
                            </div>

                            <div id="vids" class="collapse tutorials">
                                <!--Tutorial videos for exercise-->
                                <iframe width="420" height="315"
                                        src="{{ exercise.get_videos() }}">
                                </iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="jumbotron" id="no2">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <img src="{{ exercise1.get_image() }}" class="images">
                        </div>
                        <div class="col-md-6">
                            <p class="text-justify desc">{{ exercise1.get_desc() }}</p>
                            <dl>
                                <dt class='ben_list'>Muscles trained:</dt>
                                {% for benefits in exercise1.get_benefits() %}
                                <dd>{{ benefits }}</dd>
                                {% endfor %}
                            </dl>
                            <p>
                                <a href="#randex1" class="btn btn-info" data-toggle="collapse">Instructions</a>
                                <a href="#vids1" class="btn btn-info" data-toggle="collapse">Tutorial Videos</a>
                            </p>
                            <div id="randex1" class="collapse">
                                <ol type="1">
                                    {% for steps in exercise1.get_steps() %}
                                    <li>{{ steps }}</li>
                                    {% endfor %}
                                </ol>
                            </div>

                            <div id="vids1" class="collapse">
                                <iframe width="420" height="315"
                                        src="{{ exercise1.get_videos() }}">
                                </iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="jumbotron" id="no3">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <img style="width: 330px; height: 258px;" src="{{ exercise2.get_image() }}" class="images">
                        </div>
                        <div class="col-md-6">
                            <p class="text-justify desc">{{ exercise2.get_desc() }}</p>
                            <dl>
                                <dt class='ben_list'>Muscles trained:</dt>
                                {% for benefits in exercise2.get_benefits() %}
                                <dd>{{ benefits }}</dd>
                                {% endfor %}
                            </dl>
                            <p>
                                <a href="#randex2" class="btn btn-info" data-toggle="collapse">Instructions</a>
                                <a href="#vids2" class="btn btn-info" data-toggle="collapse">Tutorial Videos</a>
                            </p>
                            <div id="randex2" class="collapse">
                                <ol type="1">
                                    {% for steps in exercise2.get_steps() %}
                                    <li>{{ steps }}</li>
                                    {% endfor %}
                                </ol>
                            </div>

                            <div id="vids2" class="collapse">
                                <iframe width="420" height="315"
                                        src="{{ exercise2.get_videos() }}">
                                </iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
</body>
</html>