<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Health & Fitness Schedule Planner</title>
    <link rel="stylesheet" href="../static/health_fitness_plan.css">
    <script src="../static/health_fitness_plan.js"></script>
    <link rel="stylesheet" href="../static/dycalendar.min.css">
</head>
<body>
<!-- Navigation bar -->
{% extends 'layout.html' %}
{% block body %}

<!-- calendar page -->
<div id="overlay">
    <div id="spinner"></div>
</div>
<div class="container-fluid" id="container">
    <div>
        <h1 class="text-center">Health & Fitness Schedule Planner</h1>
        <div>
            <br>
        </div>
        <div>
            <h2>Current month/year:
                <span id="month"></span> / <span id="year"></span>
            </h2>
            <h2>Current date:
                <span id="date"></span>
            </h2>
            <div class="calendar-class">
                <div id="calendar" class="dycalendar-container skin-blue gradient shadow-default"></div>
            </div>
            <div id="legendcont" class="col-lg-3 col-sm-12" style="float:right">

                <div id="legend" class="col-12 ">
                    <p>Legend</p>
                    <p>(Hover over to get the details):</p>
                    <div class="p-3 mb-2 bg-primary text-dark" data-toggle="tooltip" title="School Holiday">
                        <div>
                            <p id="Hol" class="text-center">December<br>20</p>
                        </div>
                    </div>

                    <div class="p-3 mb-2 bg-danger text-dark" data-toggle="tooltip" title="Public Holiday">
                        <div>
                            <p id="PH" class="text-center">November<br>6</p>
                        </div>
                    </div>

                    <div class="p-3 mb-2 bg-secondary text-white" data-toggle="tooltip" title="Next/Last Month">
                        <div>
                            <p id="next-last" class="text-center">January<br>3</p>
                        </div>
                    </div>
                </div>
                <div>
                    <button class="btn btn-success col-12"  onclick="window.location.href = '../schedule/ToDoList';">&raquo; Go To-Do-List &raquo;</button>
                </div>
            </div>
            <div class="col-12">
                <br>
            </div>
            <div id="plannerinstruction" class="col-lg-8">
                <button id="displayinstruction" class="btn btn-primary col-12" data-toggle="collapse" data-target="#instruction">Instructions</button>
                <div id="instruction" class="collapse">
                    <table id="allinstruction" class="table table-light">
                        <thead>
                        <tr class="table-success">
                            <th>Instructions on how to use the Calendar Planner & To-Do-List</th>
                        </tr>
                        </thead>
                        <tr>
                            <td>&#8226; Click on the button <button class="btn btn-success">Go to To-Do-List</button> and you will enter into the To-Do-List page</td>
                        </tr>
                        <tr class="table-success">
                            <td>&#8226; After entering into the To-Do-List page, you will need to write down the date, time and your to-do-lists in the given text boxes</td>
                        </tr>
                        <tr>
                            <td>&#8226; After finish setting your To-Do-Lists, you will need to click on the
                                <button class="btn btn-success">Submit your inputs</button>
                                in order to save all your inputs
                            </td>
                        </tr>
                        <tr class="table-success">
                            <td>&#8226; Click on the
                                <button class="btn btn-danger">Back to Calendar page</button>
                                to go back to the Calendar page (But BEWARE! Once you click this button all your inputs will be erased if you did not save your inputs)
                            </td>
                        </tr>
                        <tr>
                            <td>&#8226; Hover over the dates in the LEGEND MENU to display the details on what each colors represent</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../static/dycalendar.min.js"></script>
<script>
    var d = new Date();
    var all_months = [];
    all_months[0] = 'January';
    all_months[1] = 'February';
    all_months[2] = 'March';
    all_months[3] = 'April';
    all_months[4] = 'May';
    all_months[5] = 'June';
    all_months[6] = 'July';
    all_months[7] = 'August';
    all_months[8] = 'September';
    all_months[9] = 'October';
    all_months[10] = 'November';
    all_months[11] = 'December';
    var current_month = all_months[d.getMonth()];
    document.getElementById('month').innerHTML = current_month;
    var current_year = d.getFullYear();
    document.getElementById('year').innerHTML = current_year;
    var today = d.toDateString();
    document.getElementById('date').innerHTML = today;

    dycalendar.draw({
        target : '#calendar',
        type : 'month',
        highlighttoday : true,
        prevnextbutton: 'show'
    })
</script>
{% endblock %}
</body>
</html>

