<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Logo of website-->
    <link rel="icon" href="../static/Logo.png">

    <!-- tile of the page -->
    {% if title %}
        <title>HealthFit - {{ title }}</title>
    {% else %}
        <title>HealthFit - Health & Fitness Planner</title>
    {% endif %}

    <link rel="stylesheet" href="../static/health_fitness_plan.css">
    <script src="../static/health_fitness_plan.js"></script>
    <link rel="stylesheet" href="../static/dycalendar.min.css">
</head>
<body>
<!-- Navigation bar -->
{% extends 'layout.html' %}
{% block body %}

<style>
    .modal-image, #caption{
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
    }

    .close{
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 42px;
    font-weight: bold;
    transition: 0.3s;
    }

    .close:hover{
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }

    @media only screen and (max-width: 640px){
        .modal-image{
            width: 100%;
        }
    }

    #PH-link{
        text-decoration: none;
    }

    #legendcont{
        border: 2px solid green;
        box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        background-color: greenyellow;
        padding: 23px;
        max-width: 360px;
        float: right;
    }
</style>

<!-- calendar page -->
<div id="overlay">
    <div id="spinner"></div>
</div>

<div id="header-title">
    <h2 class="font-weight-bold text-center title-head">Welcome to the Health & Fitness Schedule Planner</h2>
</div>

<div class="container-fluid" id="container">
    <div>
        <span class="glyphicon glyphicon-calendar"></span>
        <h1 class="text-center">Calendar Planner</h1>
        <span class="glyphicon glyphicon-calendar"></span>
        <div>
            <br>
        </div>

        <!-- Div to display date and, month and year -->
        <div id="month-date">
            <h2 id="month-year" class="text-dark">Current Month/Year:
                <span id="month" class="text-dark"></span> <span class="text-dark">/</span> <span id="year" class="text-dark"></span>
            </h2>
            <h2 id="today" class="text-dark">Current Date/Time:
                <span id="date" class="text-dark"></span> <span class="text-dark">/</span> <span id="time" class="text-dark"></span>
            </h2>
        </div>

            <!-- Div that contains the calendar -->
            <div class="calendar-class">
                <div id="calendar" class="dycalendar-container skin-blue gradient shadow-default"></div>
            </div>

            <!-- Public Holidays image container -->
            <div id="legendcont" class="col-lg-3 col-sm-12 container-fluid">
                <!-- Public Holidays image div -->
                <div id="legend" class="col-12">
                    <p>Public Holidays</p>
                    <p>(Click on the image to zoom in on the image):</p>
                    <img id="Public-hol" alt="Public Holidays of 2019" src="../static/Public-Holidays-image.PNG" style="width:100%;">
                    <div id="source-link">source: <a id="PH-link" class="text-danger" href="https://www.mom.gov.sg/employment-practices/public-holidays#Year-2019" target="_blank">https://www.mom.gov.sg/employment-practices/public-holidays#Year-2019</a></div>
                </div>
                <div>
                    <button class="btn btn-success col-12"  onclick="window.location.href = '../schedule/ToDoList';">&raquo; Go To-Do-List &raquo;</button>
                </div>
            </div>

            <div id="motivation-quotes" style="border: 2px solid black; border-radius:30px; max-width:890px; margin-top: 10px; margin-bottom: 15px;">
                <h2 id="quote-title">Motivational quote for the day:</h2>
                <hr size="3">
                <p class="text-success" id="quote">{{ today_quote }}</p>
                <p class="text-success" id="author">{{ today_quote_author }}</p>
            </div>

            <!--<div class="col-12">-->
                <!--<br>-->
            <!--</div>-->

            <!-- Instruction buttons -->
            <p>
                <button id="text-button" class="btn btn-primary col-lg-8" type="button" onclick="showandhide()">Instructions</button>
            </p>

            <!-- Text instruction div -->
            <div id="words-instruction" class="col-lg-8" style="display:none;">

                <!-- Hidden div to collapse when the button is click -->
                <div id="textinstruction">

                    <!-- Hidden text Instruction div that will be shown -->
                    <div id="allinstruction" style="margin-bottom:12px;">
                        <h2>Instructions on how to use the To-Do-List</h2>
                        <hr>
                        <p>&#8226; (Step 1) Click on the button <button class="btn btn-success" disabled>&raquo; Go to To-Do-List &raquo;</button> and you will enter into the To-Do-List page(Click <i><a href="../static/GotoTDL.png" target="_blank" class="text-primary">here</a></i> to see the image for Step 1)</p>
                        <p>&#8226; (Step 2) After entering into the To-Do-List page, you will need to input down the date and your to-do-lists in the given text boxes(Click <i><a href="../static/SetTDL.png" target="_blank" class="text-primary">here</a></i> to see the image for Step 2)</p>
                        <p>&#8226; (Step 3) After finish setting your To-Do-Lists, you will need to click on the <button class="btn btn-outline-info" disabled>Add</button> so that everything is saved(Click <i><a href="../static/SaveT-D-L.png" target="_blank" class="text-primary">here</a></i> to see the image for Step 3)</p>
                        <p>&#8226; An alert message will be shown to tell you that your To-Do is added successfully(Click <i><a href="../static/AlertMenuSuccessful.png" target="_blank" class="text-primary">here</a></i> to see the example of the alert message)</p>
                        <p>&#8226; Check that your To-Do is indeed added by checking the box below.(Click <i><a href="../static/TDLShownBelow.png" target="_blank" class="text-primary">here</a></i> to see the example of a successfully added To-Do)</p>
                        <p>&#8226; (Step 4) Click on the <button class="btn btn-outline-danger" disabled>Back to Calendar page</button> to go back to the Calendar page. BEWARE! All inputs will be erased when this button is clicked(Click <i><a href="../static/BacktoCalendar.png" target="_blank" class="text-primary">here</a></i> to see the image for Step 4)</p>
                        <p>&#8226; (Step 5) Click on the <button class="btn btn-danger" disabled>Delete</button> to delete a particular To-Do-List(Click <i><a href="../static/DeleteTDL.png" target="_blank" class="text-primary">here</a></i> to see the image for Step 5)</p>
                        <p>&#8226; An alert message will be shown to tell you that your To-Do is deleted successfully(Click <i><a href="../static/AlertMenuDelete.png" target="_blank" class="text-primary">here</a></i> to see the example of the alert message)</p>
                        <p>&#8226; Check that your To-Do is indeed deleted by checking the box below(Click <i><a href="../static/DeleteGone.png" target="_blank" class="text-primary">here</a></i> to see the example of a successfully deleted To-Do)</p>
                    </div>
                </div>
            </div>

            <!-- Image Modal(Public Holidays) -->
            <div id="Public-Hol-modal" class="modal">
                <span class="close">&times;</span>
                <img class="modal-image" id="img-1">
                <div id="caption"></div>
            </div>

    </div>
</div>
<script src="../static/dycalendar.min.js"></script>
<script>
    // Get all the months in a year and put in array //
    var d = new Date();
    var all_months = [];
    all_months[0] = 'January';
    all_months[1] = 'February';
    all_months[2] = 'March';
    all_months[3] = 'April';
    all_months[4] = 'May';
    all_months[5] = 'June';
    all_months[6] = 'July';
    all_months[7] = 'August';
    all_months[8] = 'September';
    all_months[9] = 'October';
    all_months[10] = 'November';
    all_months[11] = 'December';

    // Get the current month //
    var current_month = all_months[d.getMonth()];
    document.getElementById('month').innerHTML = current_month;

    // Get the current year //
    var current_year = d.getFullYear();
    document.getElementById('year').innerHTML = current_year;
    var today = d.toDateString();
    document.getElementById('date').innerHTML = today;

    // Get the current time the time is set to 1000 as it is in milliseconds and 1000 milliseconds = 1 second //
    var time = setInterval(current_time, 1000);

    // Function to get our local time //
    function current_time(){
        var t = new Date();
        document.getElementById('time').innerHTML = t.toLocaleTimeString();
    }

    // Function for showing and hiding Instructions div //
    function showandhide(){
        // Get the div that contains the Instruction //
        var instructdiv = document.getElementById('words-instruction');
        if (instructdiv.style.display === 'none'){
            instructdiv.style.display = 'block';
        }

        else{
            instructdiv.style.display = 'none';
        }
    }

    // Zoom in on the image modal when clicked on image //
    var modal = document.getElementById('Public-Hol-modal');
    var img = document.getElementById('Public-hol');
    var modalImage = document.getElementById('img-1');
    var caption = document.getElementById('caption');
    img.onclick = function(){
        modal.style.display = 'block';
        modalImage.src = this.src;
        caption.innerHTML = this.alt;
    };

    // Close the modal function //
    var closeModal = document.getElementsByClassName('close')[0];
    closeModal.onclick = function(){
        modal.style.display = 'none';
    };

    dycalendar.draw({
        target : '#calendar',
        type : 'month',
        highlighttoday : true,
        prevnextbutton: 'show'
    })
</script>
{% endblock %}
</body>
</html>

