<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
        <title>HealthFit - {{ title }}</title>
    {% else %}
        <title>HealthFit - Health & Fitness Planner</title>
    {% endif %}
    <link rel="stylesheet" href="../static/health_fitness_plan.css">
    <script src="../static/health_fitness_plan.js"></script>
    <link rel="stylesheet" href="../static/dycalendar.min.css">
</head>
<body>
<!-- Navigation bar -->
{% extends 'layout.html' %}
{% block body %}

<style>
    .modal-image, #caption{
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
    }

    .close{
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 42px;
    font-weight: bold;
    transition: 0.3s;
    }

    .close:hover{
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }

    @media only screen and (max-width: 640px){
        .modal-image{
            width: 100%;
        }
    }

    #PH-link{
        text-decoration: none;
    }
</style>

<!-- calendar page -->
<div id="overlay">
    <div id="spinner"></div>
</div>
<div class="container-fluid" id="container">
    <div>
        <h1 class="text-center">Health & Fitness Schedule Planner</h1>
        <div>
            <br>
        </div>
        <div>
            <h2>Current month/year:
                <span id="month" class="text-muted"></span> <span class="text-muted">/</span> <span id="year" class="text-muted"></span>
            </h2>
            <h2>Current date:
                <span id="date" class="text-muted"></span>
            </h2>
            <div class="calendar-class">
                <div id="calendar" class="dycalendar-container skin-blue gradient shadow-default"></div>
            </div>
            <div id="legendcont" class="col-lg-3 col-sm-12" style="float:right">

                <div id="legend" class="col-12">
                    <p>Public Holidays</p>
                    <p>(Click on the image to zoom in on the image):</p>
                    <img id="Public-hol" alt="Public Holidays of 2019" src="../static/Public-Holidays-image.PNG">
                    <footer id="source-link">source: <a id="PH-link" href="https://www.mom.gov.sg/employment-practices/public-holidays#Year-2019" target="_blank">https://www.mom.gov.sg/employment-practices/public-holidays#Year-2019</a></footer>
                </div>
                <div>
                    <button class="btn btn-success col-12"  onclick="window.location.href = '../schedule/ToDoList';">&raquo; Go To-Do-List &raquo;</button>
                </div>
            </div>
            <div class="col-12">
                <br>
            </div>
            <div id="plannerinstruction" class="col-lg-8">
                <button id="displayinstruction" class="btn btn-primary col-12" data-toggle="collapse" data-target="#instruction">Instructions</button>
                <div id="instruction" class="collapse">
                    <div id="allinstruction">
                        <h2>Instructions on how to use the To-Do-List</h2>
                        <hr>
                        <p>&#8226; Click on the button <button class="btn btn-success" disabled>&raquo; Go to To-Do-List &raquo;</button> and you will enter into the To-Do-List page</p>
                        <p>&#8226; After entering into the To-Do-List page, you will need to input down the date and your to-do-lists in the given text boxes</p>
                        <p>&#8226; After finish setting your To-Do-Lists, you will need to click on the <button class="btn btn-outline-info" disabled>Add</button> in order to save all your inputs</p>
                        <p>&#8226; Click on the <button class="btn btn-outline-danger" disabled>Back to Calendar page</button> to go back to the Calendar page (But BEWARE! Once you click this button all your inputs will be erased if you did not save your inputs)</p>
                        <p>&#8226; Click on the <button class="btn btn-primary" disabled>Edit</button> to edit the particular To-Do-List and save it in order to update the original version to the edited version</p>
                        <p>&#8226; Click on the <button class="btn btn-danger" disabled>Delete</button> to delete the particular To-Do-List </p>
                    </div>
                </div>
            </div>

            <!-- Image Modal -->
            <div id="Public-Hol-modal" class="modal">
                <span class="close">&times;</span>
                <img class="modal-image" id="img-1">
                <div id="caption"></div>
            </div>

        </div>
    </div>
</div>
<script src="../static/dycalendar.min.js"></script>
<script>
    var d = new Date();
    var all_months = [];
    all_months[0] = 'January';
    all_months[1] = 'February';
    all_months[2] = 'March';
    all_months[3] = 'April';
    all_months[4] = 'May';
    all_months[5] = 'June';
    all_months[6] = 'July';
    all_months[7] = 'August';
    all_months[8] = 'September';
    all_months[9] = 'October';
    all_months[10] = 'November';
    all_months[11] = 'December';
    var current_month = all_months[d.getMonth()];
    document.getElementById('month').innerHTML = current_month;
    var current_year = d.getFullYear();
    document.getElementById('year').innerHTML = current_year;
    var today = d.toDateString();
    document.getElementById('date').innerHTML = today;

    var modal = document.getElementById('Public-Hol-modal');
    var img = document.getElementById('Public-hol');
    var modalImage = document.getElementById('img-1');
    var caption = document.getElementById('caption');
    img.onclick = function(){
        modal.style.display = 'block';
        modalImage.src = this.src;
        caption.innerHTML = this.alt;
    };

    var closeModal = document.getElementsByClassName('close')[0];
    closeModal.onclick = function(){
        modal.style.display = 'none';
    };

    dycalendar.draw({
        target : '#calendar',
        type : 'month',
        highlighttoday : true,
        prevnextbutton: 'show'
    })
</script>
{% endblock %}
</body>
</html>

