*{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: Verdana, sans-serif;
}

#container{
    width:98.5%;
    min-height: 80vh;
    margin:auto;
    margin-top:12vh;
	border-radius: 10px;
}

table{
    font-weight: bold;
    color: black;
    text-align: center;
    width: 1415px;
    height: 302px;
}

.lastmth, .nextmth{
    background-color: #545454;
}

#Nov, #Dec, #Jan, #Feb, #Mar, #Apr. #May, #Jun{
    width: 1160px;
}

#planner{
    display: inline-block;
}

.dycalendar-month-container td:hover{
    transform:scale(1.3);
    box-shadow: 0px 0px 5px black;
    background-color: white;
}

td > span{
    color: black;
    font-weight: bold;
}

#legend{
	border: 2px solid green;
	box-shadow: 0px 0px 5px yellow;
    background-color: #fff;
	padding: 20px 40px;
	margin-bottom: 30px;
}

#legendcont{
    border: 2px solid green;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: greenyellow;
    padding: 20px 40px;
    max-width: 290px;
}

#allinstruction{
    font-weight: bold;
}

#Hol, #PH, #next-last{
    color: black;
    font-weight: bold;
}

.dycalendar-header{
    color: black;
    text-align: center;
    font-weight: bold;
}

tr > td:first-child{
    color: red;
}

.dycalendar-month-container{
    width: 1465px;
    height: 348px;
    border: 2px solid black;
    border-radius: 2px;
}

#month, #year, #date{
    font-weight: bold;
    font-family: Impact, Charcoal, sans-serif;
}
