#chartContainer {
    height: 500px;
    width: 650px;
    left: 500px;
    top: 150px;
    position: absolute;
    border: 3px solid black;
}
.rounded-circle
    {
        margin-right:50px;
    }
    #Updatedetails
    {
        width:15%;
    }
    .content-section
    {
        margin-left: 30px;
    }

/*body{
    background-image: url("../static/e5WlXi.jpg");
}*/
.foodnames{
    font-size: 17px;
}

.user{
    font-size: 18px;
}

#addweight{
    position: absolute;
    top: 650px;
    left: 500px;
}
