*{
    padding: 0px;
    margin: 0px;
}

body{
    background-image: url("e5WlXi.jpg");
}

.pagination{
    font-size: 15px;
    text-align: center;
}

#planner{
    padding: 10px;
}

#container{
    width: 98.5%;
    min-height: 50vh;
    background-color: whitesmoke;
    margin: auto;
    margin-top: 12vh;
    border: 3px solid black;
    border-radius: 10px;
}

#mth{
    margin: 405px;
    font-family: Headline R;
}

h3{
    text-align: center;
}

/*.media-body:nth-child(even){*/
    /*width:265px;*/
    /*height: 210px;*/
    /*float: right;*/
    /*!*border: 1px solid black;*!*/
/*}*/

.media-body{
    background-color:white;
    margin-top: 15px;
    margin-left: 24px;
    width: 255px;
    height: 270px;
    border-radius: 16px;
    font-weight: bold;
    position: relative;
}

#delete{
    position: absolute;
    margin-left: auto;
    bottom: 5px;
}

#media-content{
    display: inline-block;
    vertical-align: top;
}

#To-Do-container{
    border-radius: 15px;
    background-color: grey;
    margin-top: 22px;
    margin-left: 22px;
    width: 1470px;
    height: 350px;
    border: 3px solid black;
}

#To-Do-container > h2{
    font-weight: bold;
    text-align: center;
    border-bottom: 3px solid black;
}
